.item{
    max-width: 700px;
    display: flex;
    justify-content: center;
}

.goods{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    padding: 100px 0 100px;
}

.card{
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card-action{
    position: unset;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.price{
    padding-top: 10px;
    font-size: 1em;
    font-weight: 500;
}
