.cart {
    padding: 5px;
    margin-top: 10px;
    right: 10%;
    position: fixed;
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width:560px) {
    .cart {
        bottom: 10%;
    }
}

.cart__close ,.cart__show{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

